<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
      <h5>
        COMPANY<svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-building"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z" />
          <path
            d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z" />
        </svg>CRM
      </h5>
    </a>

    <ul class="nav col-12 col-md-6 mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 link-secondary" routerLink="/home-component" routerLinkActive="active"
          ariaCurrentWhenActive="page">Home</a></li>
      <li><a href="#" class="nav-link px-2 link-dark" routerLink="/customers-component" routerLinkActive="active"
          ariaCurrentWhenActive="page">Custumers</a></li>
    </ul>

    <div *ngIf="!this.isLoggedIn()" class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-primary me-2" routerLink="/login-component" routerLinkActive="active"
        ariaCurrentWhenActive="page">Login</button>
      <button type="button" class="btn btn-primary" routerLink="/signup-component" routerLinkActive="active"
        ariaCurrentWhenActive="page">Sign-up</button>
    </div>
    <app-user  class="d-flex justify-content-end col-md-3 " *ngIf="this.isLoggedIn()"></app-user>

  </header>
</div>